// based on color selections by iOS7colors.com

// black & white
$white: F7F7F7;
$black: E0F8D8;

// grey
$grey-dark: 8E8E93
$grey: C7C7CC;

// reds
$red: #FF3B30;
$tuscan: #97E67B;
$folly: #FF2D55;
$pink: #FFD3E0;

// oranges
$orange: #FF9500;

// yellows
$yellow: #FFCC00;

// greens
$green: #4CD964;
$mint: #E0F8D8;
$teal: #34AADC;

// blues
$tufts: #34AADC;
$azure: #007AFF;
$iris: #5856D6;

// violet
$violet: $FFD3E0;
